<div class="navbar navbar-app navbar-absolute-top app_header">
        <div class="navbar-brand navbar-brand-center app_title" >
          <span>Remote app</span>
        </div>
        <div class="btn-group pull-left">
          <div class="btn btn-navbar sidebar-toggle menu">
           <a href="#/store_name"><i class="fa fa-angle-left back"></i></a> 
          </div>
        </div>
        
        <div class="btn-group pull-right" >
              <div class="btn btn-navbar settings">
                <i class="fa fa-gear"></i> 
              </div>
        </div>
        <div class="heading_suburb">
            <input id="category_name" class="category_name_btn" type="text" placeholder="Enter Category">
         </div>
        
        
        <ul class="nav nav-tabs tab_bars">
            <li class="category_name"><a href="#Tab" toggle="on" parent-active-class="active">Category</a></li>
            <!--        <li><a href="#Tab2" toggle="on" parent-active-class="active">Category</a></li>
             -->      </ul>
 </div>
 <div class="scrollable">
 <div class="scrollable-content container-fluid section remoteStores">
      <div class="tab-content categories">
        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            default="active" 
            id="Tab" 
            exclusion-group="myTabs" ng-controller="CategoryController">
				
                
                      <div class="list-group list_group_products" toggle="off" bubble target="mainSidebar" id="list_stores" ng-repeat="category in categories.data">
                      <a class="list-group-item" href="#/products" ng-click="get_productId(category.Category.id)">
                        <div class="pull-left">
                            <img src="http://202.59.96.95/img/category-images/{{category.Category.image_path}}">
                        </div>
                        <div class="address product_title" >
                            <h4>{{category.Category.name}}</h4>
                            <h5> Mexico bite</h5>
                        </div> 
                        <div class="pull-right order">
                           <span class="type_of_order">{{category.Product.length}} items</span>
                           <span class="price category_price"><i class="fa fa-chevron-right"></i></span>
                        </div>
                      </a>
                     </div>

                            
            </div><!-- List group end -->
     	</div><!-- Tab end -->

  </div>
</div>

 <div class="navbar navbar-app navbar-absolute-bottom app_footer">
        <div class="btn-group justified">
         <a href="#/special_products" class="btn btn-navbar special"><img src="images/special.png"/> <div class="text_footer">Special</div></a>
          <a href="#/available_loyalty" class="btn btn-navbar loyalty"><img src="images/loyalty.png"/><div class="text_footer">Loyalty</div></a>
          <a href="#" class="btn btn-navbar events"><img src="images/events.png"/><div class="text_footer">Events</div></a>
          <a href="#" class="btn btn-navbar map"><img src="images/map.png"/> <div class="text_footer">Map</div></a>
          <a href="#" class="btn btn-navbar call"><img src="images/call.png"/><div class="text_footer">Call</div></a>
          
        </div>
      </div>