  <div class="navbar navbar-app navbar-absolute-top app_header">
        <div class="navbar-brand navbar-brand-center app_title" >
          <span> Login </span>
        </div>
        <div class="btn-group pull-left">
          <div class="btn btn-navbar sidebar-toggle menu">
            <a ng-click="Setredirect();"><i class="fa fa-angle-left back"></i></a>
          </div>
        </div>
        
        <div class="btn-group pull-right" >
              <div class="btn btn-navbar settings">
                <i class="fa fa-gear"></i> 
              </div>
        </div>
 </div>
<div class="scrollable">  
  <div class="scrollable-content masterlogin">

   	<div class="content login">
    	<div class="login_heading"><img src="images/profile_pic.png"></div>
        <div class="email"><input id="login_email" class="email_btn" type="text" placeholder="Email address"></div>
        <div class="password"><input id="login_password" class="password_btn" type="password" placeholder="Password"></div>
        <div class="login_btns">
        	<div class="login"><button class="login_btn" ng-click='login("/products")'> Sign in</button></div>
        </div>
        <div class="facebook"><img src="images/fb.png"></div> 
        	<div class="or">OR</div>
        <div class="twitter"><img src="images/twitter.png"></div>
    </div>
    
  </div> <!-- scrollable content end -->
</div> <!-- scrollable end -->

<div class="navbar navbar-app navbar-absolute-bottom app_footer login_footer">
        <div class="btn-group justified">
          	<div class="pswrd"><a href="#">Forgot password?</a></div>
        	<div class="newHere"> <u><a href="#/register" > New here? Sign Up</a></u></div>
        </div>
      </div>


