
<div class="navbar navbar-app navbar-absolute-top app_header">
        <div class="navbar-brand navbar-brand-center app_title" >
          <span>Loyalty Message</span>
        </div>
        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle menu">
                <a><i class="fa fa-bars"></i></a>
            </div>
        </div>
        
        <div class="btn-group pull-right" >
              <div class="btn btn-navbar settings">
                <i class="fa fa-gear"></i> 
              </div>
        </div>
 </div>
<div class="scrollable">  
  <div class="scrollable-content item_details avail_loyalty offers">
	    
        <div id="carousel-example" class="carousel" ng-controller="loyaltyController">
      <div class="carousel-inner">
        <div href="" ng-if="loyalty.Loyalty.type=='product'" class="item active loyaltyslider countclass_{{$index}}" carousel-example-item ng-repeat="loyalty in loyalty.data">
          <div class="carousel-example-content loyalty">
                	<h4 class="loyaltyh4">Buy {{loyalty.Loyalty.ordered_qty}} and get {{loyalty.Loyalty.get_qty}} free</h4>
                	<div class="starRatings" ng-show="getStar('countclass_{{$index}}',loyalty.Loyalty.ordered_qty,loyalty.Loyalty.get_qty,loyalty.Loyalty.product_id)">
                    	<!--<div class="star dealitems"><i class="fa fa-star"></i></div>-->
                      <!--  <div class="dealitems"></div>
                        <div class="dealitems"></div>
                        <div class="dealitems"></div>
                        <div class="dealitems"></div>-->
                    </div>
                	<div class="loyaltydetails">
                    	<p>Join this service to gain loyalty</p>
                		<p>you can redeem your point any time</p>
                	</div>
                    <div class="continueloyalty"><a  class="btn find_store btn-primary qr_code get_point continue_btn" ng-click="get_productId(loyalty.Loyalty.product_id)"> Continue</a></div>
          </div>
        </div>
      </div>
</div>

<!-- carousel items end --> 
                       
        
  </div>
</div>

 <div class="navbar navbar-app navbar-absolute-bottom app_footer">
        <div class="btn-group justified">
         <a href="#/special_products" class="btn btn-navbar special"><img src="images/special.png"/> <div class="text_footer">Special</div></a>
          <a href="#/available_loyalty" class="btn btn-navbar loyalty activefooter"><img src="images/loyalty.png"/><div class="text_footer">Loyalty</div></a>
          <a href="#" class="btn btn-navbar events"><img src="images/events.png"/><div class="text_footer">Events</div></a>
          <a href="#" class="btn btn-navbar map"><img src="images/map.png"/> <div class="text_footer">Map</div></a>
          <a href="#" class="btn btn-navbar call"><img src="images/call.png"/><div class="text_footer">Call</div></a>
          
        </div>
      </div>
