 <div class="navbar navbar-app navbar-absolute-top app_header">
        <div class="navbar-brand navbar-brand-center app_title" >
          <span>Sign Up</span>
        </div>
        <div class="btn-group pull-left">
          <div class="btn btn-navbar sidebar-toggle menu">
            <a href="#/login"><i class="fa fa-angle-left back"></i></a> 
          </div>
        </div>
        
        <div class="btn-group pull-right" >
              <div class="btn btn-navbar settings">
                <i class="fa fa-gear"></i> 
              </div>
        </div>
 </div>
<div class="scrollable">  
  <div class="scrollable-content">

   	<div class="content register" ng-controller="registerController">
    	<div class="login_heading register_heading"  ng-click="getImage();"><img id="takenImage" src="images/img-1.png" class="signup_img"/></div>
        <div class="email"><input id="email" class="email_btn" type="text" placeholder="EMAIL ADDRESS"></div>
        <div class="password "><input id="password" class="password_btn" type="password" placeholder=" PASSWORD "></div>
        <div class="contact password"><input id="contact" class="password_btn contact_btn" type="number" placeholder=" CONTACT NUMBER "></div>
        <div class="dob password"><input id="dob" class="password_btn dob_btn" type="date" placeholder=" BIRTHDAY" ></div>
        <div class="login_btns">
            <div class="register sign_up"><button class="register_btn signup_btn" ng-click='register_user("/products")'>Sign Up </button> </div>
        </div>
    </div>
    
  </div> <!--  scrollable content end -->
</div> <!-- scrollable end -->




